<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">
<display-name>play</display-name>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>mlang.root</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:applicationContext2.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<filter>   
	    <filter-name>fileFilter</filter-name>   
	    <filter-class>    
	       com.play.core.web.filter.SystemFilter 
	    </filter-class>    
	</filter>  
	<filter-mapping>   
	    <filter-name>fileFilter</filter-name>   
	    <url-pattern>/*</url-pattern>  
	</filter-mapping>
	<filter>
		<filter-name>springSessionRepositoryFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>springSessionRepositoryFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class> org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>XssFilter</filter-name>
		<filter-class>com.play.core.web.filter.XssHttpServletFilter</filter-class>
		<init-param>
			<param-name>exclude</param-name>
			<param-value>/;/manager/stationConfig/*;/admin/stationConfig/*;/admin/article/*;/admin/activity/*;/receive/sport/*;/manager/announcement/*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>XssFilter</filter-name>
		<url-pattern>*.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<servlet-name>spring1</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring1</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>homeServlet</servlet-name>
		<servlet-class>com.play.core.web.servlet.HomePageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/manager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/manager/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/partner</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/partner/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/admin/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/agent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/agent/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/proxy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/proxy/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/m</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>homeServlet</servlet-name>
		<url-pattern>/m/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.do</welcome-file>
	</welcome-file-list>
</web-app>
